<!-- FILEPATH: /C:/Users/manue/OneDrive/Desktop/Factivar/FactivarFrontend/src/app/components/factura-avanzado/factura-avanzado.component.html -->

<!--
  Componente de la página de creación de una nueva factura.
  Contiene un formulario para ingresar los datos de la factura, como el proveedor, el cliente, la descripción de la operación, el número de factura, la fecha de emisión, la fecha de cobro y el estado de pago pendiente.
  También permite agregar y eliminar artículos de la factura, y muestra el subtotal y el total de la factura.
-->
<div class="container-xl">
  <div class="row pb-4">
    <div class="col-lg-10 col-md-11 mx-auto">
      <div class="text-center">
        <h1 class="fs-2 my-4">Nueva Factura</h1>
      </div>

      <div class="px-4">
        <div class="p-4 guest-page">
          <form
            class="edit_invoice"
            id="invoice-form"
            action="#"
            accept-charset="UTF-8"
            data-remote="true"
            method="post"
          >
            <!-- Sección de datos del proveedor -->
            <div class="row">
              <div class="col-8">
                <div>
                  <label for="invoice_from" class="form-label"
                    ><i class="fa fa-user icon"></i>&nbsp;&nbsp;De</label
                  >
                  <input
                    class="form-control form-control-sm"
                    placeholder="CIF del proveedor"
                    tabindex="1"
                    maxlength="10"
                    type="text"
                    name="proveedor"
                    id="proveedor"
                    required
                  />
                </div>
              </div>
              <div class="col-4 col-md-3 offset-md-1">
                <div>
                  <label for="invoice_number" class="form-label"
                    ><i class="fa fa-search icon"></i>&nbsp;N° de factura</label
                  >
                  <input
                    class="form-control form-control-sm"
                    placeholder="Número Factura"
                    tabindex="4"
                    maxlength="100"
                    size="100"
                    type="text"
                    value="100"
                    name="numeroFactura"
                    id="numeroFactura"
                  />
                </div>
              </div>

              <!-- Sección de datos del cliente y descripción de la operación -->

              <div class="col-8">
                <div>
                  <label for="invoice_billing" class="form-label"
                    ><i class="fa fa-female icon"></i
                    ><i class="fa fa-male icon"></i>&nbsp;&nbsp;Facturar
                    a</label
                  >
                  <input
                    class="form-control form-control-sm"
                    placeholder="CIF del cliente"
                    tabindex="1"
                    maxlength="10"
                    type="text"
                    name="comprador"
                    id="comprador"
                    required
                  />
                </div>

                <div>
                  <label for="invoice_shipping" class="form-label"
                    ><i class="fa fa-plane icon"></i>&nbsp;&nbsp;Descripción de
                    la operación</label
                  >
                  <textarea
                    class="form-control form-control-sm"
                    placeholder=" (Campo opcional)"
                    rows="5"
                    style="height: 8em"
                    tabindex="3"
                    maxlength="5000"
                    name="descripcionOperacion"
                    id="descripcionOperacion"
                  ></textarea>
                </div>
              </div>

              <!-- Sección de número de factura, fecha de emisión, fecha de cobro y estado de pago pendiente -->
              <div class="col-4 col-md-3 offset-md-1">
                <div>
                  <label for="invoice_date_issued" class="form-label"
                    ><i class="fa-solid fa-calendar"></i>&nbsp;Fecha</label
                  >

                  <input
                    class="form-control form-control-sm datepicker hasDatepicker"
                    placeholder="dd.mm.aa"
                    tabindex="5"
                    maxlength="100"
                    autocomplete="off"
                    size="100"
                    type="text"
                    value="10.01.2024"
                    name="invoice[date_issued_string]"
                    id="invoice_date_issued_string"
                  />
                </div>

                <div>
                  <label for="fechaCobro"
                    ><i class="fa-solid fa-calendar-check"></i>&nbsp;Fecha de
                    Cobro</label
                  >
                  <input
                    type="date"
                    class="form-control form-control-sm datepicker hasDatepicker"
                    id="fechaCobro"
                    name="fechaCobro"
                    value="2024-01-23"
                  />
                </div>

                <div>
                  <label for="pendientePago"
                    ><i class="fa-solid fa-wallet"></i>&nbsp;Pendiente de
                    Pago</label
                  >
                  <select
                    class="form-control form-control-sm datepicker hasDatepicker"
                    id="pendientePago"
                    name="pendientePago"
                  >
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
            </div>

            <hr />

            <!-- Componente de artículo de factura -->
            <app-articulo-factura (pacos)="removeArticle()" />

            <ng-template #articuloFactura> </ng-template>

            <!-- Botón para añadir un nuevo artículo -->
            <div class="row">
              <div class="col-12">
                <button
                  name="button"
                  type="button"
                  class="btn btn-info btn-sm w-100"
                  id="add-item"
                  (click)="addArticle()"
                >
                  Añadir artículo nuevo
                </button>
              </div>
            </div>

            <hr />

            <!-- Sección de subtotal y total de la factura -->
            <div id="total">
              <div class="row mt-4">
                <div class="col-6 col-md-3 offset-md-6 fs-6 fw-bold">
                  Subtotal
                </div>
                <div class="col-6 col-md-3 text-end fs-6 fw-bold">0,00</div>
              </div>

              <div class="row my-4">
                <div class="col-6 col-md-3 offset-md-6 fs-5 fw-bold">
                  <p>TOTAL</p>
                </div>

                <div class="col-6 col-md-3 text-end fs-5 fw-bold">
                  <p data-placement="left">0,00 €</p>
                  <span data-placement="left" style="font-size: 10px">
                    IVA/incl.
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
