<main>
  <div class="sticky-parallax-header"></div>
  <app-nav-bar class="pacoBar"></app-nav-bar>

  <header class="masthead sticky-parallax-masthead">
    <div
      class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
    >
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1 class="mx-auto my-0 text-uppercase">Factivar</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">
            Tu página web para una facturación más sencilla e intuitiva
          </h2>
          <a routerLink="/login" routerLinkActive="router-link-active">
            <app-boton-accesos texto="Entrar"></app-boton-accesos>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="ricias"></div>
  <section>
    <div id="content" class="cuerpoHomePage">
      <!-- Projects-->
      <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
          <!-- Featured Project Row-->
          <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
              <video
                class="videoLogo"
                src="assets\Mi_videoFinal.mp4"
                alt="video con logo"
                autoplay="true"
                muted="true"
                loop="true"
              ></video>
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                <h4>Facturas online</h4>
                <p class="text-black-50 mb-0">
                  Crea facturas online en minutos, sin necesidad de
                  conocimientos de contabilidad. Fácil, rápido y seguro.
                </p>
              </div>
            </div>
          </div>
          <!-- Project One Row-->
          <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
              <img
                class="img-fluid"
                src="assets/contableFemenina.jpeg"
                alt="..."
              />
            </div>
            <div class="col-lg-6">
              <div class="colorHexagonos text-center h-100 project">
                <div class="d-flex h-100">
                  <div
                    class="project-text w-100 my-auto text-center text-lg-left"
                  >
                    <h4 class="text-white">Rápidas, fáciles y seguras</h4>
                    <p class="mb-0 text-white-50">
                      Con nuestro servicio de facturas online, podrás crear
                      facturas en minutos, sin necesidad de conocimientos de
                      contabilidad.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Project Two Row-->
          <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
              <img
                class="img-fluid"
                src="assets\contableEn Oficina.jpeg"
                alt="..."
              />
            </div>
            <div class="col-lg-6 order-lg-first">
              <div class="colorHexagonos text-center h-100 project">
                <div class="d-flex h-100">
                  <div
                    class="project-text w-100 my-auto text-center text-lg-right"
                  >
                    <h4 class="text-white">El futuro de la facturación</h4>
                    <p class="mb-0 text-white-50">
                      Solo tienes que introducir los datos de tu empresa, del
                      cliente y del producto o servicio que estás facturando. En
                      cuestión de segundos, tendrás una factura profesional y
                      ajustada a la normativa vigente. ¡Así de fácil!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <div class="ricias"></div>
</main>


