.factivar-layout {
    display: grid;

    grid-template-areas: 
    'factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header factivar-header'
    '. factivar-content factivar-content factivar-content factivar-content factivar-content factivar-content factivar-content factivar-content factivar-content factivar-content .'
    'factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer factivar-footer';

    gap: 1rem;

    background-image: url("/src/assets/FondoFinal.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-color: lightslategray;
}
 
.factivar-header {
    grid-area: factivar-header;
}

.factivar-content {
    grid-area: factivar-content;
    justify-items: center;
    align-items: center;

    border-radius: 1rem;
    background-color: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(0.2rem);
}

.factivar-footer {
    grid-area: factivar-footer;

    background-color: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(0.2rem);
}

/* 
@media (orientation: landscape) {
    
}
@media (orientation: portrait) {
    
} 
*/