<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-center flex-grow-1">
      <a
        class="navbar-brand cursiv"
        routerLink="/home"
        routerLinkActive="active"
        ><img
          class="logo-factivar"
          src="../../../assets/icons/factivar_text.svg"
          alt="Logo Factivar"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item active animated-button">
          <a
            class="nav-link"
            routerLink="/clientes"
            routerLinkActive="active"
            aria-label="Clientes"
            >Clientes</a
          >
        </li>
        <li class="nav-item active animated-button">
          <a
            class="nav-link"
            routerLink="/facturas"
            routerLinkActive="active"
            aria-label="Facturas"
            >Facturas</a
          >
        </li>
        <li class="nav-item active animated-button">
          <a
            class="nav-link"
            routerLink="/proveedores"
            routerLinkActive="active"
            aria-label="Proveedores"
            >Proveedores</a
          >
        </li>
      </ul>

      <div class="d-flex">
        @if (user) {
        <p class="me-2 mt-2 textoGrande">
          Bienvenido, <b>{{ user.Name }}</b>
        </p>
        <img
          class="avatar"
          [src]="user.Thumbprint"
          alt="Avatar de {{ user.Name }}"
        />

        <!-- Boton de salida -->
        <button class="Btn-cerrar" type="button" (click)="cerrarSesion()">
          <div class="sign">
            <svg viewBox="0 0 512 512">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 
              9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
              ></path>
            </svg>
          </div>
          <div class="text">Salir</div>
        </button>
        } @else {
        <app-boton-accesos
          texto="Iniciar sesión"
          routerLink="/login"
          aria-label="Login"
        />
        }
      </div>
    </div>
  </div>
</nav>
