<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Dirreción</h6>
        <p class="text-justify">
          Océano Pacífico, en la ciudad submarina de Fondo de Bikini (Bikini
          Bottom)
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Email</h6>
        <div class="footer-links">
          <a href="#!">factivaradm&#64;gmail.com</a>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Teléfono</h6>
        <ul class="footer-links">
          <p class="text-justify">+34 666 666 666</p>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; factivar.com 2024.</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Nuestros Linkedin:</p>
        </div>
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href="https://www.linkedin.com/in/david-llopis-laguna-38902826a/"
              target="_blank"
              ><p>D</p>
              <i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              class="twitter"
              href="https://www.linkedin.com/in/juan-antonio-mu%C3%B1oz-s%C3%A1nchez-6a7a44250/"
              target="_blank"
              ><p>J.A</p>
              <i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              class="dribbble"
              href="https://www.linkedin.com/in/rocio-p-4498b992/"
              target="_blank"
              ><p>R</p>
              <i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/ezequiel-mart%C3%ADnez-vicente-25833114a/"
              target="_blank"
              ><p>E</p>
              <i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              class="whatsapp"
              href="https://www.linkedin.com/in/manuel-carreto-albao/"
              target="_blank"
              ><p>M</p>
              <i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
