<div class="form-group input-container">
  <label for="password" class="sr-only">Password</label>
  <input
    id="password"
    class="form-control password-input"
    name="password"
    #pass="ngModel"
    required
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeholder"
    [(ngModel)]="password"
    (change)="emitPassword()"
  />
  <app-lock-checkbox
    class="toggle-password"
    [isChecked]="showPassword"
    (lockCheckboxChange)="showHidePassword($event)"
  />
</div>
@if(!pass.valid && pass.touched){
<div class="form-text text-danger">{{ placeholder }} obligatoria</div>
}
